body {
    background: url(../images/gymbg.jpg) no-repeat center center fixed;
    background-size: cover;
}

div {
    background-color: orange;
    width: 30%;
    padding: auto 10% auto auto;
    text-align: center;
    color: white;
    font-family: 'Montserrat', sans-serif;
    margin: 200px auto;
    border-radius: 20px;
}

i {
    text-align: center;
    font-size: 2em;
}

h1 {
    font-size: 2em;
}

p {
    font-size: 1.6em;
    font-family: 'Turret Road', cursive;
}

button {
    background: rgb(236, 230, 230);
    color: black;
    font-size: 1em;
    padding: 20px;
}